<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--  自动驼峰命名  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--  类型别名  -->
    <typeAliases>
        <package name="cn.tivnan.studentls.bean"/>
    </typeAliases>


</configuration>